[submodule "api-gateway"]
	path = api-gateway
	url = git@github.com:haku-transcendence/api-gateway.git
[submodule "web"]
	path = web
	url = git@github.com:haku-transcendence/web.git
[submodule "FE"]
	path = FE
	url = git@github.com:haku-transcendence/FE.git
